.max-w-prose {padding-left: 10px;
  padding-right: 10px;
}

h2 {padding-left: 10px;
  padding-right: 10px;
}

.blox-markdown {padding: 2rem 0 2rem 0}


input, textarea {
  background: #f5f5f5;
  margin-left: 10pt;
  width: 250px;
  padding: 5px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

form {
  font-weight: 600;
  font-style: normal;
}


[type=button], [type=reset], [type=submit], button {
  background-color:#f5f5f5;
  color:black;
  padding: 15px 32px;
  cursor:pointer;
  text-decoration:underline;
  text-decoration-color: #d8b4fe;
}

[type=submit]:hover {
  color:#9435ea;
}
